@font-face {
    font-family: 'AvenirNext';
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype'),
    url(../../assets/fonts/AvenirNextLTPro.ttf) format('truetype'),
    url(../../assets/fonts/AvenirNextLTPro-Regular.woff) format('woff'),
    url(../../assets/fonts/AvenirNextLTPro-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext';
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format('opentype'),
    url(../../assets/fonts/AvenirNextLTProDemi.ttf) format('truetype'),
    url(../../assets/fonts/AvenirNextLTPro-Demi.woff) format('woff'),
    url(../../assets/fonts/AvenirNextLTPro-Demi.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext';
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype'),
    url(../../assets/fonts/AvenirNextLTProBold.ttf) format('truetype'),
    url(../../assets/fonts/AvenirNextLTPro-Bold.woff) format('woff'),
    url(../../assets/fonts/AvenirNextLTPro-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}