// font-stack
@use "./variables" as *;

@mixin flex($justify-content: flex-start, $align-items: stretch, $flex-direction: row, $flex-wrap: nowrap){
display:flex;
justify-content: $justify-content;
align-items: $align-items;
flex-direction: $flex-direction;
flex-wrap: $flex-wrap;
}


@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;        
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;        
    }
}

@mixin styleInputMobile{
    border-radius: 4px;
    border: 1px solid $mercury;
    padding: 0.75rem;
}

@mixin styleInputTabletDesktop{
    border-radius: 4px;
    border: 1px solid $mercury;
    padding: 1rem;
}

