@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// hero section
.hero {
    height: 35vh;
    min-height: 20rem;
    background: url(../assets/images/hero-bio.jpg) no-repeat 50%;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(50, 50, 50, 0.5);
    @include flex(flex-start, center); 
        @include tablet {
            height: 50vh;
        }
         @include desktop {
            height: 60vh;
        }

    &__title {
        @include font-stack(1.5rem, 600, 2rem, $white);
        margin-left:1rem;
        @include tablet {
            @include font-stack (3.75rem, 600, 4.25rem, $white);
            margin-left:1.25rem;
            }
        @include desktop {
            margin-left:5rem;
            }
    }
}

// about-band section
.about-band {
    padding: 1.5rem 1rem;
    background-color: $white;
    @include flex(flex-start, flex-start, column, wrap);
    @include tablet {
        padding: 3rem 2.25rem 2.25rem;
    }
    @include desktop {
        padding: 3rem 6rem 2.25rem;
        }

    &__title {
        @include font-stack (1.5rem, 600, 2rem, $bandsite-black);
        @include tablet {
            @include font-stack (2.25rem, 600, 2.75rem, $bandsite-black);
    }
    }

    &__quotation {
        @include flex(flex-start, center, column, wrap); 
        margin: 1rem 0 1.5rem;
        @include font-stack (0.875rem, 600, 1.375rem, $bandsite-black);
        // position: relative;
        @include tablet {
            margin: 2.25rem 3rem;
            @include font-stack (1.47rem, 600, 2rem, $bandsite-black);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0px -40px;
        margin-bottom: -1.5rem;
        @include tablet {
            margin-bottom: -0.5rem;
        }
        @include tablet {
            margin-bottom: -0.2rem;
        }
    }

    &__blockquote {
        @include desktop {
            width: 71%;
            align-self: flex-start;
        }
    }

    &__quote {
        padding-bottom: 0.5rem;
        @include tablet {
            padding-bottom: 1rem;
        }
    }

    &__author-quote {
        @include tablet {
            @include font-stack (1.1rem, 600, 1.375rem, $bandsite-black);
        }
    }

    &__content {
        @include flex(space-around, flex-start, column, nowrap); 
        @include tablet {
            margin: 0rem 3rem; 
        }
    }
    &__title-content {
        @include font-stack (0.875rem, 600, 1.375rem, $bandsite-black);
        padding-bottom: 1rem;
        @include tablet {
            @include font-stack (1.5rem, 600, 2rem, $bandsite-black);
        }

    }
    &__container-detail {
        @include font-stack (0.8125rem, 400, 1.125rem, $bandsite-black);
        @include flex(space-between, flex-start, column, nowrap); 
        @include tablet {
            @include font-stack (0.875rem, 400, 1.375rem, $bandsite-black);
            @include flex(space-between, flex-start, row, nowrap); 
        }

    }
    &__detail-right {
        margin-bottom: 1rem;
        @include tablet {
            margin-bottom: 0rem;
            width: 48%;
        }
    }

    &__detail-left {
        @include tablet {
            margin-bottom: 0rem;
            width: 48%;
        }
    }
}

    // gallery section
.gallery {
    padding: 1.5rem 1rem;
    background-color: $alabaster;
    @include tablet {
        padding: 3rem 0.75rem 0.75rem 2.25rem;
    }
    @include desktop {
        padding: 3rem 4.5rem 0.75rem 6rem;
    }

    &__title {
        @include font-stack (1.5rem, 600, 2rem, $bandsite-black);
        @include tablet {
            @include font-stack (2.25rem, 600, 2.75rem, $bandsite-black);
            padding-bottom: 2.25rem;
        }
    }

    &__album {
        @include flex(space-between, center, column, nowrap); 
        @include tablet {
            @include flex(space-between, center, row, wrap); 
        }
    }

    &__image-item {
        width: 100%;
        margin-top: 1rem;
        @include tablet {
            width: 30%; 
            margin: 0rem 1.5rem 1.5rem 0;
        }
        @include desktop {
            width: 31%; 
            filter: grayscale(1);
        }
        &:hover {
            @include desktop {
            filter: grayscale(0);  
            transform: scale(1.1); 
            }
        }
    }
}

// conversation section
.comments{
    padding: 1.5rem 1rem;
    background-color: $white;
    @include tablet {
        padding: 3rem 6rem 2.25rem 2.25rem;
    }
    @include desktop {
        padding: 3rem 9rem 2.25rem 2.25rem;
    }

    &__title {
        @include font-stack (1.5rem, 600, 2rem, $bandsite-black);
        padding-bottom: 1rem;
        @include tablet {
            @include font-stack (2.25rem, 600, 2.75rem, $bandsite-black);
            padding-bottom: 2.25rem;
        }
    }

    &__form-container {
        @include flex(flex-start, flex-start, row, nowrap); 
        padding-bottom: 1rem;
        border-bottom: 1px solid $mercury;
        @include tablet {
            padding-bottom: 1.5rem;  
            margin-left: 3.75rem;
            width: 90%;
        }
        @include desktop {
            width: 50%;
            margin: 0 auto;
        }
    }

    &__avatar-box {
        width: 20%;
        margin-top: 1.5rem;
        text-align: right;
        margin-right: 1rem;
        @include tablet {
            width: 10%; 
        }
    }

    &__image {
       border-radius: 50% 50%;
       width: 2.25rem;
       height: 2.25rem;
       object-fit: cover;
       object-position: 10%;
       @include tablet {
            width: 3.25rem;
            height: 3.25rem;
        }
    }

    &__form {
        width:80%;
        @include tablet {
            width: 90%;  
        }
    }

    &__title-input {
        @include font-stack (0.625rem, 600, 1.25rem, $silver);
        margin-bottom: 4px;
    }

    &__name-form {
        height: 2.25rem;
        width:100%;
        margin-bottom: 1rem;
        background-color: $alabaster;
        @include styleInputMobile;
        // &:focus {
        //     border: 1px solid $bandsite-black;   
        // }
        &::placeholder {
            @include font-placeholder-text;
        }
        &[type = "text"] {
            @include font-placeholder-text;
        }
        @include tablet {
            height: 3rem;
            margin-bottom: 1.5rem;
            @include styleInputTabletDesktop;
        }   
    }

    // &__name-form:focus {
    //     border: 1px solid $bandsite-black;
    //     color: brown;
    // }

        &__comment-box {
        height: 6rem;
        width:100%;
        margin-bottom: 0.5rem;
        background-color: $alabaster;
        @include styleInputMobile;
        resize: none;
        &::placeholder {
            @include font-placeholder-text;
            }
        &[type = "text"] {
            @include font-placeholder-text;
            }   

        @include tablet {
            margin-bottom: 1rem;
            @include styleInputTabletDesktop;
            }   
    }

    &__button-submit {
        width: 100%;
        height: 2.5rem;
        background-color: $bandsite-black;
        border: none;
        border-radius: 4px;
        @include font-stack(0.625rem, 700, 1.25rem, $white);

        &:hover {
        background-color: $band-site-darkblack;
        }

        @include tablet {
            @include font-stack(0.75rem, 400, 1.25rem, $white);
            width: 30%;
            min-width: 9.375rem;
            float: right;
        }   
    }
    
    &__exist-comments-container{
        @include flex(flex-start, flex-start, column, nowrap); 
        @include tablet {
            margin-left: 3.75rem;
            width: 90%;
        }
        @include desktop {
            width: 50%;
            margin: 0 auto;
        }
    }

    &__list {
        width:100%;
        padding: 1rem 0rem;
        @include flex(flex-end, flex-start, row, nowrap); 
        border-bottom: 1px solid $mercury;
        @include desktop {
            padding: 1.5rem 0rem;  
        }
    }

    &__avatar-grey {
        background-color: $mercury;
        border-radius: 50% 50%;
        width: 2.25rem;
        height: 2.25rem;
        margin-right: 1.5rem;
        text-align: right;
        @include tablet {
            width: 3.25rem;
            height: 3.25rem;
        }
    }

    &__content {
        width: 80%;
        @include font-stack (0.8125rem, 400, 1.125rem, $bandsite-black);
        position: relative;
        @include tablet {
            width: 90%;  
            @include font-stack (0.875rem, 400, 1.375rem, $bandsite-black);
        }
    }

    &__name-commenter {
        @include font-stack (0.8125rem, 600, 1.125rem, $bandsite-black);
        margin-bottom: 0.5rem;
        @include tablet {
            @include font-stack (0.875rem, 600, 1.375rem, $bandsite-black);
        }
    }

    &__timestamp {
        color: $silver;
        position: absolute;
        right:0%;
        top: 0%
    }

    &__text {
        @include font-stack (0.8125rem, 400, 1.125rem, $bandsite-black);
        @include tablet {
            @include font-stack (0.875rem, 400, 1.375rem, $bandsite-black);
        }
    }
    }












