@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNextLTPro", "Calibri", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.header {
  background-color: #323232;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 48rem) {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .header {
    padding: 1.5rem 6rem;
  }
}
.header__image-logo {
  width: 7.5rem;
  height: 1.25rem;
}
.header__nav {
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .header__nav {
    width: 30%;
  }
}
@media screen and (min-width: 80rem) {
  .header__nav {
    width: 20%;
  }
}
.header__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1rem 0rem;
  position: relative;
}
@media screen and (min-width: 48rem) {
  .header__list {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 2rem;
  }
}
.header__link-nav {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #E1E1E1;
}
@media screen and (min-width: 48rem) {
  .header__link-nav {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 2rem;
    color: #E1E1E1;
  }
}
@media screen and (min-width: 80rem) {
  .header__link-nav--hover:hover {
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 65%;
  }
}
.header__link-nav--active {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  .header__link-nav--active {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
    color: #FFFFFF;
    padding-bottom: 36%;
    border-bottom: 3px solid #FFFFFF;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80rem) {
  .header__link-nav--active {
    padding-bottom: 40%;
  }
}
.header__link-nav--active:after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  background-color: #FFFFFF;
  width: 50%;
  bottom: 0%;
  left: 0%;
}
@media screen and (min-width: 48rem) {
  .header__link-nav--active:after {
    display: none;
  }
}

.footer {
  background-color: #323232;
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding: 3rem 1.25rem 2.25rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding: 3rem 6rem 2.25rem;
  }
}
.footer__title {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__title {
    font-style: normal;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    color: #FFFFFF;
    margin-bottom: 2.25rem;
  }
}
.footer__nav-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__nav-social {
    position: absolute;
    left: 35%;
    top: 15%;
    margin-bottom: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__nav-social {
    left: 28%;
  }
}
.footer__image-social {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1.5rem;
}
.footer__contact-person {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 48rem) {
  .footer__contact-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contact-person {
    width: 75%;
    margin-bottom: 3rem;
  }
}
.footer__card-person {
  margin-bottom: 1rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .footer__card-person {
    width: 33%;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.footer__name-contact {
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  .footer__name-contact {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
    color: #FFFFFF;
  }
}
.footer__position {
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__position {
    margin-bottom: 1.5rem;
  }
}
.footer__option, .footer__email {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__option, .footer__email {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
  }
}
.footer__logo-contact {
  margin: 3rem 0 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo-contact {
    position: absolute;
    right: 5%;
    top: 5%;
  }
}
@media screen and (min-width: 80rem) {
  .footer__logo-contact {
    right: 8%;
  }
}
.footer__image-logo {
  width: 7.5rem;
  height: 1.25rem;
}
.footer__copyright {
  width: 100%;
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 0.8125rem;
  color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  .footer__copyright {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
  }
}

.hero {
  height: 35vh;
  min-height: 20rem;
  background: url(../assets/images/hero-bio.jpg) no-repeat 50%;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (min-width: 48rem) {
  .hero {
    height: 50vh;
    min-height: 30rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 60vh;
    min-height: 35rem;
  }
}
.hero__title {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #FFFFFF;
  margin-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    font-style: normal;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.25rem;
    color: #FFFFFF;
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__title {
    margin-left: 5rem;
  }
}

.about-band {
  padding: 1.5rem 1rem;
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .about-band {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .about-band {
    padding: 3rem 6rem 2.25rem;
  }
}
.about-band__title {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .about-band__title {
    font-style: normal;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    color: #323232;
  }
}
.about-band__quotation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem 0 1.5rem;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .about-band__quotation {
    margin: 2.25rem 3rem;
    font-style: normal;
    font-size: 1.47rem;
    font-weight: 600;
    line-height: 2rem;
    color: #323232;
  }
}
.about-band__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -40px;
     object-position: 0px -40px;
  margin-bottom: -1.5rem;
}
@media screen and (min-width: 48rem) {
  .about-band__image {
    margin-bottom: -0.5rem;
  }
}
@media screen and (min-width: 48rem) {
  .about-band__image {
    margin-bottom: -0.2rem;
  }
}
@media screen and (min-width: 80rem) {
  .about-band__blockquote {
    width: 71%;
    align-self: flex-start;
  }
}
.about-band__quote {
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .about-band__quote {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 48rem) {
  .about-band__author-quote {
    font-style: normal;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.375rem;
    color: #323232;
  }
}
.about-band__content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 48rem) {
  .about-band__content {
    margin: 0rem 3rem;
  }
}
.about-band__title-content {
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .about-band__title-content {
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    color: #323232;
  }
}
.about-band__container-detail {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 48rem) {
  .about-band__container-detail {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #323232;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.about-band__detail-right {
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .about-band__detail-right {
    margin-bottom: 0rem;
    width: 48%;
  }
}
@media screen and (min-width: 48rem) {
  .about-band__detail-left {
    margin-bottom: 0rem;
    width: 48%;
  }
}

.gallery {
  padding: 1.5rem 1rem;
  background-color: #FAFAFA;
}
@media screen and (min-width: 48rem) {
  .gallery {
    padding: 3rem 0.75rem 0.75rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery {
    padding: 3rem 4.5rem 0.75rem 6rem;
  }
}
.gallery__title {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    font-style: normal;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    color: #323232;
    padding-bottom: 2.25rem;
  }
}
.gallery__album {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 48rem) {
  .gallery__album {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__image-item {
  width: 100%;
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery__image-item {
    width: 30%;
    margin: 0rem 1.5rem 1.5rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__image-item {
    width: 31%;
    filter: grayscale(1);
  }
}
@media screen and (min-width: 80rem) {
  .gallery__image-item:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }
}

.comments {
  padding: 1.5rem 1rem;
  background-color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  .comments {
    padding: 3rem 6rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments {
    padding: 3rem 9rem 2.25rem 2.25rem;
  }
}
.comments__title {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #323232;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .comments__title {
    font-style: normal;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    color: #323232;
    padding-bottom: 2.25rem;
  }
}
.comments__form-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 48rem) {
  .comments__form-container {
    padding-bottom: 1.5rem;
    margin-left: 3.75rem;
    width: 90%;
  }
}
@media screen and (min-width: 80rem) {
  .comments__form-container {
    width: 50%;
    margin: 0 auto;
  }
}
.comments__avatar-box {
  width: 20%;
  margin-top: 1.5rem;
  text-align: right;
  margin-right: 1rem;
}
@media screen and (min-width: 48rem) {
  .comments__avatar-box {
    width: 10%;
  }
}
.comments__image {
  border-radius: 50% 50%;
  width: 2.25rem;
  height: 2.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10%;
     object-position: 10%;
}
@media screen and (min-width: 48rem) {
  .comments__image {
    width: 3.25rem;
    height: 3.25rem;
  }
}
.comments__form {
  width: 80%;
}
@media screen and (min-width: 48rem) {
  .comments__form {
    width: 90%;
  }
}
.comments__title-input {
  font-style: normal;
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: #AFAFAF;
  margin-bottom: 4px;
}
@media screen and (min-width: 48rem) {
  .comments__title-input {
    font-style: normal;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #AFAFAF;
  }
}
.comments__name-form {
  outline: none;
  height: 2.25rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  padding: 0.75rem;
}
.comments__name-form::-moz-placeholder {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  font-family: "AvenirNextLTPro", "Calibri", sans-serif;
}
.comments__name-form:-ms-input-placeholder {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  font-family: "AvenirNextLTPro", "Calibri", sans-serif;
}
.comments__name-form::placeholder {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  font-family: "AvenirNextLTPro", "Calibri", sans-serif;
}
.comments__name-form[type=text] {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  font-family: "AvenirNextLTPro", "Calibri", sans-serif;
}
.comments__name-form:focus {
  border-color: #323232;
}
@media screen and (min-width: 48rem) {
  .comments__name-form {
    height: 3rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    border: 1px solid #E1E1E1;
    padding: 1rem;
  }
}
.comments__comment-box {
  outline: none;
  height: 6rem;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  padding: 0.75rem;
  resize: none;
}
.comments__comment-box::-moz-placeholder {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  font-family: "AvenirNextLTPro", "Calibri", sans-serif;
}
.comments__comment-box:-ms-input-placeholder {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  font-family: "AvenirNextLTPro", "Calibri", sans-serif;
}
.comments__comment-box::placeholder {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  font-family: "AvenirNextLTPro", "Calibri", sans-serif;
}
.comments__comment-box[type=text] {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  font-family: "AvenirNextLTPro", "Calibri", sans-serif;
}
.comments__comment-box:focus {
  border-color: #323232;
}
@media screen and (min-width: 48rem) {
  .comments__comment-box {
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #E1E1E1;
    padding: 1rem;
  }
}
.comments .not-valid {
  border-color: #D22D2D;
}
.comments__button-submit {
  width: 100%;
  height: 2.5rem;
  background-color: #323232;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  .comments__button-submit {
    font-style: normal;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
    padding: 0 2rem;
    width: 30%;
    float: right;
  }
}
@media screen and (min-width: 80rem) {
  .comments__button-submit:hover {
    background-color: #000000;
  }
}
.comments__exist-comments-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 48rem) {
  .comments__exist-comments-container {
    margin-left: 3.75rem;
    width: 90%;
  }
}
@media screen and (min-width: 80rem) {
  .comments__exist-comments-container {
    width: 50%;
    margin: 0 auto;
  }
}
.comments__list {
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 80rem) {
  .comments__list {
    padding: 1.5rem 0rem;
  }
}
.comments__avatar-grey {
  background-color: #E1E1E1;
  border-radius: 50% 50%;
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 1.5rem;
  text-align: right;
}
@media screen and (min-width: 48rem) {
  .comments__avatar-grey {
    width: 3.25rem;
    height: 3.25rem;
  }
}
.comments__content {
  width: 80%;
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  position: relative;
}
@media screen and (min-width: 48rem) {
  .comments__content {
    width: 90%;
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #323232;
  }
}
.comments__name-commenter {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: #323232;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .comments__name-commenter {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
    color: #323232;
  }
}
.comments__timestamp {
  color: #AFAFAF;
  position: absolute;
  right: 0%;
  top: 0%;
}
.comments__text {
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .comments__text {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #323232;
  }
}/*# sourceMappingURL=bio.css.map */