@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// header section


.header__link-nav--active {
    @include tablet {
        padding-bottom: 53%;
    }
    @include desktop {
        padding-bottom: 63%;
    }

    &:after{
        bottom: 0%;
        right: 0%;
        left: auto;
    }

}

// hero section 
.hero {
    height: 35vh;
    min-height: 20rem;
    background: url(../assets/images/hero-shows.jpg) no-repeat 50%;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(50, 50, 50, 0.5);
    @include flex(space-between, flex-start, column, nowrap); 
        @include tablet {
            height: 50vh;
            min-height: 30rem;
        }
         @include desktop {
            height: 60vh;
            min-height: 35rem;
            @include flex(space-between, flex-start, row, nowrap); 
        }

    &__content {
        margin:2.25rem 1rem 0rem;
        width:70%;
        @include tablet {
            margin:3rem 2.25rem 0rem;
            width:70%;
        }
        @include desktop {
            margin: 10rem 0rem 0 6rem;
            width:100%;
        }

    }

    &__tagline {
        @include font-stack (0.8125rem, 400, 1.125rem, $mercury);
        margin-bottom: 1rem;
        @include tablet {
            @include font-stack (1.5rem, 600, 2rem, $mercury);
            }
    }

    &__title {
        @include font-stack(1.5rem, 600, 2rem, $white);
        @include tablet {
            @include font-stack (3.75rem, 600, 4.25rem, $white);
            }
    }

    &__track {
        width: 100%;
        height: 9rem;
        padding:0 1rem 1.5rem;
        margin-bottom: 0.75rem;
        @include tablet {
            margin:0rem 2.25rem 1.5rem 1.25rem;
            width:60%;
            }
            @include desktop {
                margin:13.5rem 5rem 0 0;
            }
    }
}

// shows section
.shows {
    padding: 1.5rem 0 1rem;
    background-color: $white;
    @include flex(space-between, flex-start, column, nowrap); 
    @include tablet {
        @include flex(space-between, flex-start, column, nowrap); 
            padding: 3rem 2.25rem 2.25rem;
    }
        @include desktop { 
            @include flex(space-between, flex-start, row, nowrap); 
            padding: 3rem 6rem 2.25rem 6rem;
        } 

    &__title {
        @include font-stack (1.5rem, 600, 2rem, $bandsite-black);
        padding: 0rem 1rem 0rem;
        width: 100%;
        @include tablet {
            @include font-stack (2.25rem, 600, 2.75rem, $bandsite-black);
            padding: 0rem 0rem 2.25rem;
        }
        @include desktop {
        width: 30%;
        }
    }

    &__cards {
        @include flex(space-between, flex-start, column, nowrap); 
        width: 100%;
        @include desktop {
            width: 70%;
            padding-top: 1rem;
            }
    }

    &__containerTitle {
        display: none;
        @include tablet {  
            @include flex(space-between,flex-start, row, nowrap); 
            width: 62.8%;
        }
    }

    &__title-card-container {
        @include tablet { 
            @include font-stack (0.75rem, 600, 1.25rem, $silver);
        }
    }

    &__card {
        padding: 1rem 1rem 1rem;
        width: 100%;
        @include flex(space-between, flex-start, column, nowrap); 
        border-bottom: 1px solid $mercury;
        @include tablet {
            padding: 2.25rem 0 1rem;
            @include flex(flex-start, center, row, nowrap); 
        }
    }

    &__date,
    &__venue,
    &__location {
        width: 100%;
        margin-bottom: 1.2rem;
        @include tablet {
            margin-bottom: 0rem; 
        }
    }

    &__title-card {
        @include font-stack (0.625rem, 600, 1.125rem, $silver);
        margin-bottom: 0.3rem;
        @include tablet {
            display: none;
        }
    }

    &__detail-date {
        @include font-stack (0.8125rem, 600, 1.125rem, $bandsite-black);
        @include tablet {
            @include font-stack (0.875rem, 600, 1.375rem, $bandsite-black);
        }
    }

    &__detail {
        @include font-stack (0.8125rem, 400, 1.125rem, $bandsite-black);
        @include tablet {
            @include font-stack (0.875rem, 400, 1.375rem, $bandsite-black);
        }
    }

    &__button-buy {
        width: 100%;
        height: 2.5rem;
        @include buttonStyle;
        @include font-stack(0.625rem, 400, 1.25rem, $white);
        @include tablet {
            @include font-stack(0.75rem, 400, 1.25rem, $white);
            max-width: 9.375rem;
            padding: 0 2rem;
            }
            @include desktop{
                &:hover {
                background-color: $band-site-darkblack;
                }
            }
    }
}
